body {
    min-height: 100vh;
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
ul {
    list-style: none;
    padding: 0px;
}
.main-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}
.header span {
    display: flex;
    flex-direction: column;
}
.header ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}
.hero {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    color: #ffffff;
}
.hero-img {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.hero-txt {
    margin-right: 30px;
}
.hero-txt h3 {
    font-size: 48px;
    font-weight: 900;
    color: #f9f1f8;
    margin-bottom: 25px;
}
.hero-txt p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-txt button {
    background-color: #3882f6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 15px;
}
.main-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.cards-container {
    display: flex;
    flex-direction: column;
}
.cards-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 10px;
}
.cards-container h3 {
    text-align: center;
    font-size: 36px;
}
.cards {
    width: 250px;
}
.cards p {
    text-align: justify;
}
.cards img {
    border-radius: 5px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    background-color: #e5e7eb;
    padding: 20px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.quote-container p {
    width: 650px;
    text-align: left;
}
.quote-txt {
    padding-left: 19em;
    font-weight: bold;
}
.contact-container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #3882f6;
    color: #ffffff;
    padding: 20px 50px;
    border-radius: 5px;
}
.contact-container button {
    color: #ffffff;
    background-color: #3882f6;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}
.contact-text {
    font-weight: bold;
}
.contact p {
    margin-bottom: 5px;
    margin-top: 5px;
}
footer {
    height: 70px;
    background-color: #1f2937;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.footer-wrapper a {
    color: #ffffff;
}
 a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
button:hover {
    opacity: 50%;
    cursor:grab/pointer;
}